@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');


/* UNIVERSAL STYLES */
body{
	background-color: #f8f8f8;
	margin: none !important;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgb(249,249,249);
  opacity: 1;
}

.center {
	display: flex;
	height: 100vh;
  width: 100vw;
	align-items: center;
}

.spinner {
	display: flex;
	align-items: center;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 50px;
	height: 50px;
}

.bar {
	flex: 1;
	margin-right: 5px;
	height: 30%;
	border-radius: 5px;
	animation: bars 1000ms infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.spinner:last-child {
		margin: 0;
}

.spinner-bar:nth-child(1) { animation-delay: 0ms; background: #ffb8b5;   }
.spinner-bar:nth-child(2) { animation-delay: 200ms; background: #b4d6af;   }
.spinner-bar:nth-child(3) { animation-delay: 400ms; background: #f4b892;  }
.spinner-bar:nth-child(4) { animation-delay: 600ms; background: #a1cfd3; }

@keyframes bars {
  0%    { height: 30%;  }
  50%   { height: 100%; }
  100%  { height: 30%;  }
}


/* HOME PAGE STYLES */
#homePage {
	background:url(../img/bgDark2.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

	/* NAV BAR */
	#navContainer {
		font-family: 'Nunito', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: white;
		font-weight: 300;
		height: 4em;
		width: 100%;
		margin-bottom: 1em;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#navContainer .nav {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin-left: auto;
		padding-right: 2%;
		z-index: 1;
	}

	#navContainer .logo {
		height: 4em;
	}

	#navContainer .logo img {
		width: 10em;
		margin-top: -9px;
		margin-left: -9px;
	}

	#navContainer .logo-noshadow {
		width: 4.8em !important;
    margin-top: 19px !important;
    margin-left: 19px !important;
	}

	.nav li {
		margin-left: 1em;
	}

	.nav li a {
		text-decoration: none;
		color: white;
	}

	.nav li a:hover {
		text-decoration: underline;
	}

	.nav li:not(:last-child) {
		border-right: 2px solid white;
		padding-right: 15px;
	}

	.currentPage {
		font-weight: 700 !important;
	}

	/* INTRO TEXT */
	#introText {
		width: 512px;
		position: absolute;
		align-self: center;
	}

	#introText img {
		width: 100%;
	}

	.flex {
    display: flex;
	}


	/* FLIPBOOK */
	.container {
		display: flex;
		align-items: center;
		right: 5%;
		position: absolute;
		overflow: hidden;
	}


	/* BOOK SHADOW */
	.container::before {
		content: '';
		background-image: url(../img/shadow-closed.png);
		background-size: contain;
		width: 831px;
    height: 700px;
    right: -7%;
		position:absolute;
	}

	.container.changed::before {
		content: '';
		background-image: url(../img/shadow-open.png);
		width: 100vw;
		height: 100vh;
		background-size: 1500px 814px;
    background-position: 0% 60%;
		background-repeat: no-repeat;
	}

	#petaBook{
		display: block;
		left: 1.8rem;
		z-index: 1;
	}

	#petaBook .turn-page{
		background-color:lightblue;
		background-size:100% 100%;
	}

	.peta-book-bg {
		background-image:url(../img/book-bg-full-3.jpg);
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
		width: 1171px;
		height: 524px;
		position: absolute;
		left: 18px;
    border-radius: 2px;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		transition-timing-function: ease;
		display: block;
	}

	.peta-book-bg-override {
		background-image:url(../img/book-bg-full-3.jpg), url(../img/sound-bar-2.png);
	}

	.even, .odd {
		background-size: 513px 524px !important;
	}

	/* PAGE CORNERS */
  #triangle-topright {
		top: 0;
		right: 128px;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
		position: absolute;
    z-index: 2;
  }
  #triangle-bottomright {
		bottom: 0;
		right: 128px;
		width: 0;
    height: 0;
    border-bottom: 100px solid transparent;
    border-left: 100px solid transparent;
		position: absolute;
    z-index: 2;
  }

	.p1 .side {
		width:5px;
		height:600px;
		position:absolute;
		top:0;
		left:475px;
		background-color:gray;
		-webkit-transform:rotateY(-90deg);
		-moz-transform:rotateY(-90deg);
		-o-transform:rotateY(-90deg);
		-ms-transform:rotateY(-90deg);
		transform:rotateY(-90deg);
		-webkit-transform-origin:top right;
		-moz-transform-origin:top right;
		-o-transform-origin:top right;
		-ms-transform-origin:top right;
		transform-origin:top right;
		z-index:100000;
	}

	.display {
		display: block;
	}

	#soundBar img {
		width: 128px;
		height: 524px;
		border-radius: 0px 2px 2px 0px;
	}

	.sound-bar {
		margin-top: 0.23rem;
    margin-left: 1.8rem;
		z-index: 1;
	}

	.margin-left {
		margin-left: 2.4rem;
	}

	.visible {
		visibility: visible !important;
	}

	.display-none {
		display: none;
	}


	.odd .page {
		width: 513px;
		height: 524px;
	}

	.even .page {
		width: 513px;
		height: 524px;
	}

	/*
	.container .shadow{
		-webkit-transition: -webkit-box-shadow 0.5s;
		-moz-transition: -moz-box-shadow 0.5s;
		-o-transition: -webkit-box-shadow 0.5s;
		-ms-transition: -ms-box-shadow 0.5s;

		-webkit-box-shadow:0 0 20px #333333;
		-moz-box-shadow:0 0 20px #333333;
		-o-box-shadow:0 0 20px #333333;
		-ms-box-shadow:0 0 20px #333333;
		box-shadow:0 0 20px #333333;
	} */


	/* FOOTER */
	#footer {
		font-family: 'Nunito', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: white;
		font-weight: 300;
		height: 4em;
		width: 100%;
		margin-top: 4em;
		display: flex;
		flex-direction: row;
		align-items: center;
		bottom: 1em;
		position: absolute;
		z-index: 999;
	}

	#footer .footnav {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin-left: auto;
		padding-right: 2%;
	}

	.sound {
		padding-left: 2%;
	}

	.footnav li {
		margin-left: 1em;
	}

	/* .footnav li a {
		text-decoration: none;
		color: white;
	}

	.footnav li a:hover {
		text-decoration: underline;
	} */


/* FACTS PAGE STYLES */
	#factsPage {
		background:url(../img/bg-facts.jpg) no-repeat;
		background-size: cover;
		height: 100vh;
		width: 100vw;
		font-family: 'Nunito', sans-serif;
		color: white;
		letter-spacing: 0.5px;
	}

	#factsPage ul {
		list-style: none;
	}

	.factsContainer {
		width: 70%;
		height: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4em;
		overflow-y: scroll;
	}

	.factsList {
		width: 85%;
		display:flex;
		flex-direction: column;
		flex-flow: column;
	}

	.factsList li {
		padding-bottom: 1em;
	}

	.factsItem {
		width: 100%;
		color: #333333;
		margin-bottom: 3em;
		display: flex;
		flex-direction: row;
		flex-flow: row;
		align-items: center;
	}

	.factsItem h2 {
    margin-bottom: 0;
		line-height: 25px;
    font-size: 20px;
	}

	.factsItem h2 a {
		color: #333333;
		line-height: 32px;
	}

	.fact-img {
		width: 35%;
    padding-right: 2em;
	}

	.fact-img img {
		width: 100%;
		height: auto;
		margin-right: 1em;
	}

	.fact {
		width: 100%;
		display: flex;
		flex-flow: column;
	}

	.fact p {
		color: #3a3a3a !important;
	}

	.color-rabbit {
		color: #935750 !important;
	}

	.color-dolphin {
		color: #006aa8 !important;
	}

	.color-pig {
		color: #824845 !important;
	}

	.color-goose {
		color: #00673f !important;
	}

	.color-deer {
		color: #805934 !important;
	}

	.color-mice {
		color: #805934 !important;
	}



/* HELP PAGE STYLES */
	#helpPage {
		background:url(../img/bg-help.jpg) no-repeat;
		background-size: cover;
		height: 100vh;
		width: 100vw;
		font-family: 'Nunito', sans-serif;
		color: white;
		letter-spacing: 0.5px;
	}

	.helpContainer {
		width: 50%;
		height: 80%;
		margin-left: auto;
		margin-right: auto;
		/* overflow-y: scroll; */
		display: flex;
	}

	.helpIntro {
		font-size: 18px;
		/* line-height: 42px; */
		align-self: center;
	}

	.helpIntro h1 {
		margin-bottom: 0px;
	}

	.helpIntro h2 {
		margin-top: 0.2em;
    margin-bottom: 1.5em;
	}

	.helpIntro a {
		color: white;
	}
