@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');


/* UNIVERSAL STYLES */
body{
	background-color: #f8f8f8;
	margin: none !important;
}

/* .custom-share {

} */

/* HOME PAGE STYLES */
#homePage {
	background:url(../img/bgDark.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

	/* NAV BAR */
	#navContainer {
		font-family: 'Nunito', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: white;
		font-weight: 300;
		height: 4em;
		width: 100%;
		margin-bottom: 1em;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#navContainer .nav {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin-left: auto;
		padding-right: 2%;
		z-index: 1;
	}

	#navContainer .logo {
		height: 4em;
	}

	#navContainer .logo img {
		width: 10em;
		margin-top: -9px;
		margin-left: -9px;
	}

	.nav li {
		margin-left: 1em;
	}

	.nav li a {
		text-decoration: none;
		color: white;
	}

	.nav li a:hover {
		text-decoration: underline;
	}

	.nav li:not(:last-child) {
		border-right: 2px solid white;
		padding-right: 15px;
	}

	.currentPage {
		font-weight: 700 !important;
	}

	/* INTRO TEXT */
	#introText {
		width: 512px;
		position: absolute;
		right: 50%;
    top: 13em;
	}

	#introText img {
		width: 100%;
	}


	/* FLIPBOOK */
	.container {
		display: flex;
		align-items: center;
		right: 5%;
		position: absolute;
	}


	/* BOOK SHADOW */
	.container::before {
		content: '';
		background-image: url(../img/shadow-closed.png);
		background-size: contain;
		width: 831px;
    height: 700px;
    right: -7%;
		position:absolute;
	}

	.container.changed::before {
		content: '';
		background-image: url(../img/shadow-open.png);
		width: 100vw;
		height: 100vh;
		background-size: 1446px 770px;
		background-position: -230% 39%;
		background-repeat: no-repeat;
	}

	#petaBook{
		display: block;
		left: 1.8rem;
		z-index: 1;
	}

	#petaBook .turn-page{
		background-color:lightblue;
		background-size:100% 100%;
	}

	.peta-book-bg {
		background-image:url(../img/book-bg-full-3.jpg);
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
		width: 1171px;
		height: 524px;
		position: absolute;
		left: 18px;
    border-radius: 2px;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		transition-timing-function: ease;
	}

	.peta-book-bg-override {
		background-image:url(../img/book-bg-full-3.jpg), url(../img/sound-bar-2.png);
	}

	.even, .odd {
		background-size: 513px 524px !important;
	}

	.p1 .side {
		width:5px;
		height:600px;
		position:absolute;
		top:0;
		left:475px;
		background-color:gray;
		-webkit-transform:rotateY(-90deg);
		-moz-transform:rotateY(-90deg);
		-o-transform:rotateY(-90deg);
		-ms-transform:rotateY(-90deg);
		transform:rotateY(-90deg);
		-webkit-transform-origin:top right;
		-moz-transform-origin:top right;
		-o-transform-origin:top right;
		-ms-transform-origin:top right;
		transform-origin:top right;
		z-index:100000;
	}

	.display {
		display: block;
	}

	#soundBar img {
		width: 128px;
		height: 524px;
		border-radius: 0px 2px 2px 0px;
	}

	.sound-bar {
		margin-top: 0.23rem;
    margin-left: 1.8rem;
		z-index: 1;
	}

	.margin-left {
		margin-left: 2.4rem;
	}

	.visible {
		visibility: visible !important;
	}

	.display-none {
		display: none;
	}


	.odd .page {
		width: 513px;
		height: 524px;
	}

	.even .page {
		width: 513px;
		height: 524px;
	}

	/*
	.container .shadow{
		-webkit-transition: -webkit-box-shadow 0.5s;
		-moz-transition: -moz-box-shadow 0.5s;
		-o-transition: -webkit-box-shadow 0.5s;
		-ms-transition: -ms-box-shadow 0.5s;

		-webkit-box-shadow:0 0 20px #333333;
		-moz-box-shadow:0 0 20px #333333;
		-o-box-shadow:0 0 20px #333333;
		-ms-box-shadow:0 0 20px #333333;
		box-shadow:0 0 20px #333333;
	} */


	/* FOOTER */
	#footer {
		font-family: 'Nunito', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: white;
		font-weight: 300;
		height: 4em;
		width: 100%;
		margin-top: 4em;
		display: flex;
		flex-direction: row;
		align-items: center;
		bottom: 1em;
		position: absolute;
		z-index: 999;
	}

	#footer .footnav {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin-left: auto;
		padding-right: 2%;
	}

	.sound {
		padding-left: 2%;
	}

	.footnav li {
		margin-left: 1em;
	}

	/* .footnav li a {
		text-decoration: none;
		color: white;
	}

	.footnav li a:hover {
		text-decoration: underline;
	} */


/* FACTS PAGE STYLES */
	#factsPage {
		background:url(../img/bg-page.jpg) no-repeat;
		background-size: cover;
		height: 100vh;
		width: 100vw;
		font-family: 'Nunito', sans-serif;
		color: white;
		letter-spacing: 0.5px;
	}

	#factsPage ul {
		list-style: none;
	}

	.factsContainer {
		width: 50%;
		height: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4em;
		overflow-y: scroll;
	}

	.factsIntro h1 {
		margin-bottom: 0px;
	}

	.factsIntro h2 {
		margin-top: 0.2em;
    margin-bottom: 1.5em;
	}

	.factsIntro {
		font-size: 18px;
		/* line-height: 42px; */
	}

	.factsIntro a {
		color: white;
	}

	.factsList {
		width: 80%;
		margin-left: 2%;
	}

	.factsList li {
		padding-bottom: 1em;
	}

	.factsItem {
		background-color: white;
		color: #333333;
		padding: 1em 2em;
		margin-bottom: 3em;
		box-shadow: 0px 12px 35px rgba(51,51,51,0.4);
		border-radius: 5px;
	}

	.factsItem h2 a {
		color: #333333;
		line-height: 32px;
	}





/* HELP PAGE STYLES */
	#helpPage {
		background:url(../img/bg-page.jpg) no-repeat;
		background-size: cover;
		height: 100vh;
		width: 100vw;
	}
