@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');


/* UNIVERSAL STYLES */
body{
	background-color: #f8f8f8;
	margin: 0 !important;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgb(249,249,249);
  opacity: 1;
}

.center {
	display: flex;
	height: 100vh;
  width: 100vw;
	align-items: center;
}

.spinner {
	display: flex;
	align-items: center;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 50px;
	height: 50px;
}

.bar {
	flex: 1;
	margin-right: 5px;
	height: 30%;
	border-radius: 5px;
	animation: bars 1000ms infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.spinner:last-child {
		margin: 0;
}

.spinner-bar:nth-child(1) { animation-delay: 0ms; background: #ffb8b5;   }
.spinner-bar:nth-child(2) { animation-delay: 200ms; background: #b4d6af;   }
.spinner-bar:nth-child(3) { animation-delay: 400ms; background: #f4b892;  }
.spinner-bar:nth-child(4) { animation-delay: 600ms; background: #a1cfd3; }

@keyframes bars {
  0%    { height: 30%;  }
  50%   { height: 100%; }
  100%  { height: 30%;  }
}


/* HOME PAGE STYLES */
#homePage {
	background:url(../img/bgDark2.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

	/* NAV BAR */
	#navContainer {
		font-family: 'Nunito', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: white;
		font-weight: 300;
		height: 4em;
		width: 100%;
		margin-bottom: 1em;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#navContainer .nav {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin-left: auto;
		padding-right: 2%;
		z-index: 1;
	}

	#navContainer .logo {
		height: 4em;
	}

	#navContainer .logo img {
		width: 10em;
		margin-top: -9px;
		margin-left: -9px;
	}

	#navContainer .logo-noshadow {
		width: 4.8em !important;
    margin-top: 19px !important;
    margin-left: 19px !important;
	}

	.nav li {
		margin-left: 1em;
	}

	.nav li a {
		text-decoration: none;
		color: white;
	}

	.nav li a:hover {
		text-decoration: underline;
	}

	.nav li:not(:last-child) {
		border-right: 2px solid white;
		padding-right: 15px;
	}

	.currentPage {
		font-weight: 700 !important;
	}

	/* INTRO TEXT */
	#introText {
		width: 512px;
		position: absolute;
		align-self: center;
	}

	#introText img {
		width: 100%;
	}

	.flex {
    display: flex;
	}


	/* FLIPBOOK */
	.bookContainer {
		display: flex;
		align-items: center;
		right: 5%;
		position: absolute;
	}

	#post-headline:after{
  content: " ";
  position:absolute;
  width: 90%;
  right: 0;
  bottom: 0;
  height: 20px;
  z-index:-1;
  -moz-box-shadow: 0px 5px 4px #888;
  -webkit-box-shadow: 0px 5px 4px #888;
  box-shadow: 0px 5px 4px #888;
}

	#bookShadowClosed {
		width: 641px;
		height: 523px;
		right: 0;
		position: absolute;
		-webkit-box-shadow: 0px 0px 136px 15px rgba(0,0,0,0.55);
			 -moz-box-shadow: 0px 0px 136px 15px rgba(0,0,0,0.55);
						box-shadow: 0px 0px 136px 15px rgba(0,0,0,0.55);
	}

	.bookShadow-open {
		-webkit-box-shadow: 0px 0px 136px 15px rgba(0,0,0,0.55);
			 -moz-box-shadow: 0px 0px 136px 15px rgba(0,0,0,0.55);
						box-shadow: 0px 0px 136px 15px rgba(0,0,0,0.55);
	}

	#petaBook{
		display: block;
		left: 1.8rem;
		z-index: 1;
	}

	#petaBook .turn-page{
		background-color:lightblue;
		background-size:100% 100%;
	}

	.peta-book-bg {
		background-image:url(../img/book-bg-full-3.jpg);
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
		width: 1171px;
		height: 524px;
		position: absolute;
		left: 18px;
    border-radius: 2px;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		transition-timing-function: ease;
		display: block;
	}

	.peta-book-bg-override {
		background-image:url(../img/book-bg-full-3.jpg), url(../img/sound-bar-2.png);
	}

	.even, .odd {
		background-size: 513px 524px !important;
	}

	.p1 .side {
		width:5px;
		height:600px;
		position:absolute;
		top:0;
		left:475px;
		background-color:gray;
		-webkit-transform:rotateY(-90deg);
		-moz-transform:rotateY(-90deg);
		-o-transform:rotateY(-90deg);
		-ms-transform:rotateY(-90deg);
		transform:rotateY(-90deg);
		-webkit-transform-origin:top right;
		-moz-transform-origin:top right;
		-o-transform-origin:top right;
		-ms-transform-origin:top right;
		transform-origin:top right;
		z-index:100000;
	}

	.display {
		display: block;
	}

	#soundBar img {
		width: 128px;
		height: 524px;
		border-radius: 0px 2px 2px 0px;
	}

	.sound-bar {
		/* margin-top: 0.23rem; */
    margin-left: 1.8rem;
		z-index: 1;
	}

	.margin-left {
		margin-left: 2.4rem;
	}

	.visible {
		visibility: visible !important;
	}

	.display-none {
		display: none;
	}


	.odd .page {
		width: 513px;
		height: 524px;
	}

	.even .page {
		width: 513px;
		height: 524px;
	}

	/* INTRO WALKTHROUGH MODAL */
	#fvpp-blackout {
		display: none;
		z-index: 999;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #000;
		opacity: 0.5;
	}

	#my-welcome-message {
		display: none;
		z-index: 1000;
		position: fixed;
		width: 50%;
		left: 25%;
		top: 20%;
		padding: 4%;
		font-family: 'Nunito', Arial, sans-serif;
		line-height: 1;
		background: #e4e5e3;
		border-radius: 3px;
	}

	#fvpp-close {
		position: absolute;
		top: 10px;
		right: 20px;
		cursor: pointer;
	}

	#fvpp-dialog h2 {
		font-size: 2em;
		margin: 0;
	}

	#fvpp-dialog p { margin: 0; }

	#show-message {
		cursor: pointer;
	}

	#show-message:hover {
		text-decoration: underline;
	}


	.carousel-indicators .active {
		background-color: rgba(0,0,0,.5) !important;
		border: none !important;
	}

	.carousel-indicators li {
		background-color: #e4e5e3 !important;
		border: 1px rgba(0,0,0,.5) solid !important;
		width: 7px !important;
    height: 7px !important;
    border-radius: 10px !important;
	}

	.carousel-indicators {
		bottom: -45px !important;
	}

	.carousel-control-next-icon {
		background-image: url("../img/angle-right-solid.svg") !important;
	}

	.carousel-control-next {
		right: -75px !important;
	}

	.carousel-control-prev-icon {
		background-image: url("../img/angle-left-solid.svg") !important;
	}

	.carousel-control-prev {
		left: -75px !important;
	}

	.carousel-content {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.carousel-content div {
		flex-basis: 50%;
	}

	.carousel-content div button {
		background-color: #ff7c6b;
		color: white;
		padding: 10px 25px;
		border: none;
		border-radius: 3px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-top: 5%;
		cursor: pointer;
	}


	/* FOOTER */
	#footer {
		font-family: 'Nunito', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: white;
		font-weight: 300;
		height: 4em;
		width: 100%;
		margin-top: 4em;
		display: flex;
		flex-direction: row;
		align-items: center;
		bottom: 0.1em;
		position: absolute;
		z-index: 999;
	}

	#footer .footnav {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin-left: auto;
		padding-right: 2%;
		/* align-items: center; */
	}

	.sound {
		padding-left: 2%;
	}

	.footnav li {
		margin-left: 1em;
		align-self: end;
	}

	/* .footnav li a {
		text-decoration: none;
		color: white;
	}

	.footnav li a:hover {
		text-decoration: underline;
	} */


/* FACTS PAGE STYLES */
	#factsPage {
		background:url(../img/bg-facts.jpg) no-repeat;
		background-size: cover;
		background-attachment: fixed;
		width: 100vw;
		font-family: 'Nunito', sans-serif;
		color: white;
		letter-spacing: 0.5px;
	}

	#factsPage ul {
		list-style: none;
	}

	.factsContainer {
		width: 70%;
		height: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4em;
		overflow-y: scroll;
	}

	.factsList {
		width: 85%;
		display:flex;
		flex-direction: column;
		flex-flow: column;
	}

	.factsList li {
		padding-bottom: 1em;
	}

	.factsItem {
		width: 100%;
		color: #333333;
		margin-bottom: 3em;
		display: flex;
		flex-direction: row;
		flex-flow: row;
		align-items: center;
	}

	.factsItem h2 {
    margin-bottom: 0;
		line-height: 25px;
    font-size: 20px;
	}

	.factsItem h2 a {
		color: #333333;
		line-height: 32px;
	}

	.fact-img {
		width: 35%;
    padding-right: 2em;
	}

	.fact-img img {
		width: 100%;
		height: auto;
		margin-right: 1em;
	}

	.fact {
		width: 100%;
		display: flex;
		flex-flow: column;
	}

	.fact p {
		color: #3a3a3a !important;
	}

	.color-rabbit {
		color: #935750 !important;
	}

	.color-dolphin {
		color: #006aa8 !important;
	}

	.color-pig {
		color: #824845 !important;
	}

	.color-goose {
		color: #00673f !important;
	}

	.color-deer {
		color: #805934 !important;
	}

	.color-mice {
		color: #805934 !important;
	}



/* HELP PAGE STYLES */
	#helpPage {
		background:url(../img/bg-help.jpg) no-repeat;
		background-size: cover;
		background-attachment: fixed;
		/* height: 100vh; */
		width: 100vw;
		font-family: 'Nunito', sans-serif;
		color: white;
		letter-spacing: 0.5px;
	}



/* MIGHT NOT NEED ANY OF THE BELOW */
	.helpContainer {
		width: 50%;
		height: 80%;
		margin-left: auto;
		margin-right: auto;
		/* overflow-y: scroll; */
		display: flex;
	}

	.helpIntro {
		font-size: 18px;
		/* align-self: center; */
		text-align: center;
		margin-bottom: 2em;
	}

	.helpIntro h1 {
		margin-bottom: 0px;
	}

	.helpIntro h2 {
		margin-top: 0.2em;
    margin-bottom: 1.5em;
	}

	.helpIntro a {
		color: white;
	}
